.Film {
    margin-left: 1rem;
    margin-bottom: 1rem;

    overflow: hidden;
}

.Film .card-body {
    display: flex;

    padding: 0;
}

.Film .card-body .poster img {
    max-width: 170px;
}

.Film .card-body .data {
    min-width: 280px;

    flex: 1;
    padding: 1rem;
}

.Film .card-body .data th {
    padding-right: 1rem;
}